###### 1 ---- with the help of range get tables of 3,4,5,6,7 in seperate lists.

###### 2 ---- in the range(250) get all those integers that are divisible by 2 and 7 and are greater than 50 but less than 225

###### 3 ---- the data of names of students of vijAI is given below arrange the data such that it is arrnged to check the roll number of students . take an input from user such that the input given by user matches the roll number of persom for examlple . if they give the input 1 the output will be given as ayush 

{'gautam','ramesh','suryansh','shreya','sandeep','pushpendra','neeraj','raj','yash','disha','roopali','ayush'}

##### python has 7 types of operators .

- arithmetic operators 
- relational operators (comparison operators <,>,==)
- assignment operators (=)
- logical operators
- membership operators
- identity operators 
- bitwise operators

In [ ]:
# take three inputs from user and give him/her the tables of those three inputs .

make a program for student to help him/her in their preparation for the exam . if there are 7 topics of the subject and the student takes 1 hour to read 50 pages find the total time which will be taken by student to cover all the topics , and if it exceeds the time of 10 studying days , then tell him he/she can't cover all the topics in the given and if the there are other possibilities then make suitable program fulfilling those conditions as well.

In [24]:
number_subjects = int(input('enter the total number of subjects :'))
dict_subjects = {}
for i in range(number_subjects):
    subject_name = input('\nenter the subject name :')
    pages = int(input('\nenter the pages : '))
    dict_subjects.update({subject_name:pages})
time = int(input('\nenter the time which you have for studying in hours  : '))
print('\nyou have to enter the number of pages , that you study in particular hours ')
pages = int(input('\nenter the number of pages to check the rate :'))
time_ = int(input(f'\nenter the time taken in hours to study {pages} pages :'))
rate = pages/time_
total_pages = 0
for subject in dict_subjects :
    total_pages+= dict_subjects[subject] 
time_consumed = total_pages/rate
if time_consumed > time :
    if time//time_consumed==time/time_consumed:
        print(f"\ntotal time required is {time_consumed} , time availaible is {time}\nyou don't have sufficient time to study\nit will take {(time_consumed-time)//1} more hours to cover all topics at rate off\n {pages}',pages per {time_} hour\ntotal time required is : {time_consumed }")
    else:
        print(f"\ntotal time required is {time_consumed} , time availaible is {time}\nyou don't have sufficient time to study all topics\nit will take {(time_consumed-time)//1} hours and {(((time_consumed-time)%1)*60)//1} minutes and {(((((time_consumed-time)%1)*60)%1)*60)//1}seconds more to cover all topics at rate off {pages},pages per {time_} hour")
elif time_consumed == time:
    print('\n',time,' will be totally consumed')
elif time_consumed < time:
    if time_consumed//time == time_consumed/time:
        print(f'\ntotal time required is {time_consumed} , time availaible is {time}\nyou will be left with {time-time_consumed} hours')
    else:
        print(f'\ntotal time required is {time_consumed} , time availaible is {time}\nyou will be left with {(time-time_consumed)//1} hours and {(((time-time_consumed)%1)*60)//1} minutes and {(((((time_consumed-time)%1)*60)%1)*60)//1} seconds')

enter the total number of subjects :3

enter the subject name :physics

enter the pages : 990

enter the subject name :maths

enter the pages : 1000

enter the subject name :chemistry

enter the pages : 880

enter the time which you have for studying in hours  : 240

you have to enter the number of pages , that you study in particular hours

enter the number of pages to check the rate :50

enter the time taken in hours to study 50 pages :1

total time required is 57.4 , time availaible is 240
you will be left with 182.0 hours and 35.0 minutes and 0.0 seconds

In [3]:
a = [200,200,200]
rate = 50
time = 10
sum(a)/rate

12.0

In [ ]:
[1,2,3,4,5,6,7,8,9,10]

arithmetic operators
relational operators (comparison operators <,>,==)
assignment operators (=)
logical operators
membership operators
identity operators
bitwise operators

In [3]:
# the list contains the students present in different sections of class 12th , if each student from each section
# will receive 5 notebooks at the start of session find the total number of notebooks that the school will purchase for 
# each section.


list_students = ['a':20,'b':23,'c':33,'d':44,'e':51,'f':12,'g':22]

1025

In [2]:
0.18**2

0.0324

In [3]:
190*0.03*0.019

0.10830000000000001

In [ ]:
# the number of students in class 6th , 7th , 8th , 9th and 10th are 24,48,33,15,42 repectively.
# there is a group activity in which 3 students will make a group and receive the activity box . help the school
# to find the total number of activity boxes that will be ordered.

In [3]:
for i in range(3):
    print(i)

0
1
2

In [ ]:
for i in range(3):
    print(i,'is the number')

##### f string

f '   '

In [4]:
for i in range(3):
    print('i is the number')

i is the number
i is the number
i is the number

In [6]:
for i in range(3):
    print(f'{i} is the number')

0 is the number
1 is the number
2 is the number

In [ ]:
for i in range(3):
    print(f'{i} is the number')

In [7]:
num1=4
num2=5
print(num1,'*',num2,'=',num1*num2)


f

4 * 5 = 20

In [12]:
a = [20,23,33,44,51,12,22]
# make a new list of those numbers which will become more than 50 after adding 20 to them .
b=[]
for i in a:
    if i+20>50:
        b.append(i+20)
print(b)

[53, 64, 71]

In [1]:
#  question ----
#  in a class there are 12 students who failed the test , the marks of the students who failed were 23,25,26,27,28,
#  25,21,22,29,18,19,24 .and the passing marks were 30
#  the teacher awarded every students 5 marks as 1 question was wrong in the question paper 

#  make a program to help the teacher to find how many students failed in the test and to find the students who passed
#  after the increment in marks

In [ ]:
#    question ----
# in a society it is compulsary to give maintenance bill equal to 10 percent of the the rent , make a program for the 
# secretary of the society , Arun 
#  so that he can check the total amount gathered from maintenance bill , and help the neighbours in
# his society to check their respective bill .
# members/rent -> ravi : 20000 , kishan : 10000 , udit : 25000 , prashant : 12000 , purushottam : 15000 , krish : 16000
#                 suresh : 7500 , ramesh :1250 , lalit :22000 , hardik :12500 , rahul : 22500 , arjun :19000

In [23]:
members_dict = {'ravi' : 20000 , 'kishan' : 10000 , 'udit' : 25000 , 'prashant' : 12000 , 'purushottam' : 15000 , 'krish' : 16000 ,'suresh' : 7500 , 'ramesh' :12500 , 'lalit' :22000 , 'hardik' :12500 , 'rahul' : 22500 , 'arjun' :19000}
main_total = 0
for i in members_dict:
    main_total += members_dict[i]*0.10
a = input('enter your name :')
if a in members_dict:
    print(members_dict[a]*0.10 , 'is your maintenance bill ',a)
else:
    print(a,'is not a member of the society')

enter your name :udit
2500.0 is your maintainence bill  udit

In [21]:
a = input('enter operator :')
b=12
c=23
f'*{"*" if a=="*"  }{"+" if a=="+" }{if "-" a=="-" }{"/"if a=="/"}'

SyntaxError: f-string: expected 'else' after 'if' expression (1386064494.py, line 4)

In [23]:
a = input('enter operator :')
b=12
c=23
f'*{"*" if a=="*" "+" elif a=="+" elif "-" a=="-" "/"elif a=="/"}'

SyntaxError: f-string: expected 'else' after 'if' expression (3598870499.py, line 4)

In [9]:
a = int(input('enter 1st number: '))
b = int(input('enter 2nd number: '))
c= input('enter the operator : ')
result = [f'sum of {a} and {b} is :',print(f'{a}+{b}={a+b}') if c == '+' else (' a'),
          f'subtraction  of {a} and {b} is :',print(f'{a}-{b}={a-b}') if c == '-' else (' a'),
          f'multiplication of {a} and {b} is :',print(f'{a}*{b}={a*b}') if c == '*' else (' a'),
          f'division of {a} and {b} is :',print(f'{a}/{b}={a/b}') if c == '/' else (' a')]

enter 1st number: 24
enter 2nd number: 5
enter the operator : *
24*5=120

In [1]:
a = 13
b = 134
f'{a} is smaller than {b} , and c is {a+b}'

'13 is smaller than 134 , and c is 147'

In [30]:
for i in range(3):
    for i in range(4-i):
        print('*'*i)

*
**
***

*
**

*

In [47]:
rows = int(input('enter the number of rows :'))
for i in range(rows):
    print(i,end='')
    for j in range(i + 1):
        print(f"*{i}")

enter the number of rows :6
0*0
1*1
*1
2*2
*2
*2
3*3
*3
*3
*3
4*4
*4
*4
*4
*4
5*5
*5
*5
*5
*5
*5

In [35]:
rows = int(input('enter the number of rows :'))
for i in range(rows):
    for j in range(i):
        print("*",i, end=' ')
    print(1)

enter the number of rows :6
1
* 1 1
* 2 * 2 1
* 3 * 3 * 3 1
* 4 * 4 * 4 * 4 1
* 5 * 5 * 5 * 5 * 5 1

##### python has 7 types of operators .

- arithmetic operators 
- relational operators (comparison operators <,>,==)
- assignment operators (=)
- logical operators
- membership operators
- identity operators 
- bitwise operators

In [4]:
for i in range(1,11):
    print(f' {i} X {1} = {i*1}')
    print(f' {i} X {2} = {i*2}')
    print(f' {i} X {3} = {i*3}')
    print(f' {i} X {4} = {i*4}')
    print(f' {i} X {5} = {i*5}')
    print(f' {i} X {6} = {i*6}')
    print(f' {i} X {7} = {i*7}')
    print(f' {i} X {8} = {i*8}')
    print(f' {i} X {9} = {i*9}')
    print(f' {i} X {10} = {i*10}')
    print()

 1 X 1 = 1
 1 X 2 = 2
 1 X 3 = 3
 1 X 4 = 4
 1 X 5 = 5
 1 X 6 = 6
 1 X 7 = 7
 1 X 8 = 8
 1 X 9 = 9
 1 X 10 = 10

 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18
 2 X 10 = 20

 3 X 1 = 3
 3 X 2 = 6
 3 X 3 = 9
 3 X 4 = 12
 3 X 5 = 15
 3 X 6 = 18
 3 X 7 = 21
 3 X 8 = 24
 3 X 9 = 27
 3 X 10 = 30

 4 X 1 = 4
 4 X 2 = 8
 4 X 3 = 12
 4 X 4 = 16
 4 X 5 = 20
 4 X 6 = 24
 4 X 7 = 28
 4 X 8 = 32
 4 X 9 = 36
 4 X 10 = 40

 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45
 5 X 10 = 50

 6 X 1 = 6
 6 X 2 = 12
 6 X 3 = 18
 6 X 4 = 24
 6 X 5 = 30
 6 X 6 = 36
 6 X 7 = 42
 6 X 8 = 48
 6 X 9 = 54
 6 X 10 = 60

 7 X 1 = 7
 7 X 2 = 14
 7 X 3 = 21
 7 X 4 = 28
 7 X 5 = 35
 7 X 6 = 42
 7 X 7 = 49
 7 X 8 = 56
 7 X 9 = 63
 7 X 10 = 70

 8 X 1 = 8
 8 X 2 = 16
 8 X 3 = 24
 8 X 4 = 32
 8 X 5 = 40
 8 X 6 = 48
 8 X 7 = 56
 8 X 8 = 64
 8 X 9 = 72
 8 X 10 = 80

 9 X 1 = 9
 9 X 2 = 18
 9 X 3 = 27
 9 X 4 = 36
 9 X 5 = 45
 9 X 6 = 54
 9 X 7 = 63
 9 X 8 = 72
 9 X 9 = 81
 9 X 10 = 90

 10 X 1 = 10
 10 X 2 = 20
 10 X 3 = 30
 10 X 4 = 40
 10 X 5 = 50
 10 X 6 = 60
 10 X 7 = 70
 10 X 8 = 80
 10 X 9 = 90
 10 X 10 = 100

In [3]:
ask=int(input('enter the number of tables that you want :'))
for i in range(ask):
    for x in range(1,11):
        print(f'{i}X{x}={i*x}')
    print()

enter the number of tables that you want :6
iX1=0
iX2=0
iX3=0
iX4=0
iX5=0
iX6=0
iX7=0
iX8=0
iX9=0
iX10=0

iX1=1
iX2=2
iX3=3
iX4=4
iX5=5
iX6=6
iX7=7
iX8=8
iX9=9
iX10=10

iX1=2
iX2=4
iX3=6
iX4=8
iX5=10
iX6=12
iX7=14
iX8=16
iX9=18
iX10=20

iX1=3
iX2=6
iX3=9
iX4=12
iX5=15
iX6=18
iX7=21
iX8=24
iX9=27
iX10=30

iX1=4
iX2=8
iX3=12
iX4=16
iX5=20
iX6=24
iX7=28
iX8=32
iX9=36
iX10=40

iX1=5
iX2=10
iX3=15
iX4=20
iX5=25
iX6=30
iX7=35
iX8=40
iX9=45
iX10=50

In [5]:
ask=int(input('enter the number of tables that you want :'))
for i in range(ask):
    for x in range(1,11):
        print(f'X{x}={i*x}')
    print()

enter the number of tables that you want :4
1213X1=0
1213X2=0
1213X3=0
1213X4=0
1213X5=0
1213X6=0
1213X7=0
1213X8=0
1213X9=0
1213X10=0

1213X1=1
1213X2=2
1213X3=3
1213X4=4
1213X5=5
1213X6=6
1213X7=7
1213X8=8
1213X9=9
1213X10=10

1213X1=2
1213X2=4
1213X3=6
1213X4=8
1213X5=10
1213X6=12
1213X7=14
1213X8=16
1213X9=18
1213X10=20

1213X1=3
1213X2=6
1213X3=9
1213X4=12
1213X5=15
1213X6=18
1213X7=21
1213X8=24
1213X9=27
1213X10=30

In [6]:
x= 12
y= 13
f'{x} is x and {y} is y'

'12 is x and 13 is y'

In [7]:
dict1={1:'a',2:'b'}
dict1.values()

dict_values(['a', 'b'])

In [9]:
a  = {'mahindra':1,'tcs':5,'NIIT':8}
ask1 = input('enter your name :')
ask2 = int(input('enter the date :'))
if ask2 in a.values():
    print(f'dear {ask1.upper()} we are already occupied on that day choose another day')
else:
    print(f'dear {ask1.upper()} you can come on the date {ask2} for your work')

enter your name :suryansh
enter the date :3
dear SURYANSH you can come on the date 3 for your work

In [4]:
a  = {'mahindra':1,'tcs':5,'NIIT':8}
c=a.items()
print(c)

dict_items([('mahindra', 1), ('tcs', 5), ('NIIT', 8)])

In [8]:
a  = {'mahindra':1,'tcs':5,'NIIT':8}
ask2 = int(input('enter the name:'))
if ask2 in a.values():
    for i in a : 
        if a[i] == ask2:
            print(f'there is a meeting on {ask2} with the client {i.upper()} . ')
else:
    print('you can take the appointment')

enter the name:1
there is a meeting on 1 with the client MAHINDRA .

In [9]:
a  = {'mahindra':1,'tcs':5,'NIIT':8}
ask2 = int(input('enter the name:'))
for i in a : 
    if a[i] == ask2:
        print(f'there is a meeting on {ask2} with the client {i.upper()} . ')
    else:
        print('you can take the appointment')

enter the name:8
you can take the appointment
you can take the appointment
there is a meeting on 8 with the client NIIT .

In [10]:
a  = {'mahindra':1,'tcs':5,'NIIT':8}
ask2 = int(input('enter the name:'))
for i in a : 
    if a[i]==1:
        print('appointment with',i)
    if a[i]==5:
        print('appointment with',i)
    if a[i]==8:
        print('appointment with',i)
    else:
        print('no appointment')

enter the name:9
appointment with mahindra
no appointment
appointment with tcs
no appointment
appointment with NIIT

### shreya works as a freelancer , she gets clients on daily basis . The clients tell shreya the date of appointment before they fix an online meeting .she only fixes the meeting when the time of appointement chosen by the client does not clashes with time of other client , make a program to help shreya such that the program tells shreya whether she has time for appointment on a particular day of december or not .

abc company on 13
shree furnitures on 3
lara company on 8 
ai retailers on 9 
uora silks on 4
lara company on 23 
bhuvi textiles on 5  
lara clothings on 6 
ba company on 19  
the og company on 18  
prem constructors 21  
d textiles on 22 
x company on 17


all dates are of december

- FIND THE CUBE OF FIRST 30 NATURAL NUMBERS
- here is the data of 10 people who applied for their driving license
NAME       AGE      NATIONALITY

ravi         19      indian

ravish      18     indian

ramesh    22      indian

rajesh      17      indian

arun        14      indian

arjun       13      indian

udit         24      indian

deep       61      indian

pranjali   24      indian

kritika     22      indian
- a person will only be eligible for applying a license when he she is above 18 and is a ctizen of India , make program to help the supersviser pranjal so that he can get the data of all those citizens who are eligible and make a program to help the applicant to check whether he she is eligible or not